/* snap scroll */
/*  */

:root{
  --vyellow: #F8D701;
  --vgreen: #4D8B7C;
  --vred: #CF470A;
  --vpurple: #6B4A86;
  --vorange: #F36B16;
  --vblue: #80c1f0;
  --vteal: #b5f9f8;
  --vdarkblue: #267dbb;
  --vlight: #f2f5f5;
  --vlighter: #ffffff;
  --vlesslight: #efefef;
  --vlesslight: #efefef;
  --vgray: #868cb3;
}

@font-face {
  font-family: 'Quicksand';
  src: url("https://fonts.googleapis.com/css2?family=Quicksand");
}

body{
  background-color: var(--vlight);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 60pt;
}

h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

h3{
  font-family: 'Quicksand', sans-serif;
}

p{
  font-size: 14pt;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
}

p>i{
  font-size: 16pt;
  color: var(--vpurple);
}

a{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.selectable:hover {
  cursor: pointer;
}

#navbar {
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
  transition: top 0.3s; 
  z-index: 1000;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.bg-gradient{
  background-color: linear-gradient(to bottom, var(--vblue), var(--vdarkblue));
}

.nametag{
  color: var(--vgreen);
}

.aboutMe {
  min-height: 100vh;
}

#aboutMe {
  overflow: hidden;
  animation-duration: 2s;
  border-radius: 4px; 
}
.link{
  animation: fadeIn 4s;
  -webkit-animation: fadeIn 4s;
  -moz-animation: fadeIn 4s;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
}
.notMoi{
  order: 1;
}

.moi{
  background-image: linear-gradient(to bottom, rgba(255, 255, 241, 0.5), rgba(245, 245, 255, 0.5)), url(./assets/MOI-resize1.jpg);
  background-position: 0px 40px; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.moiCool{
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 255, 241, 0.5), rgba(245, 245, 255, 0.5)), url(./assets/coolboi.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

.video{
  margin-top: 50px;
  min-height: 90vh;
  width: 100%;
  position: relative;
}

.profileImg{
  object-fit: cover;
  object-position: top;
  position: relative;
  border-radius: 12px;
  /* TODO study elevate */
  width: 100%;
  animation-duration: 2s;
  animation-name: slideleft;
}
.profileFrame{
  display: flex;
  right: 10px;
  /* justify-content: center;
  align-items: center; */
  border-radius: 8px;
  animation-duration: 2.5s;
  animation-name: slideleft;
  background-color: var(--vdarkblue);
  box-shadow:
  12.1px 12.5px 14.7px rgba(0, 0, 0, 0.05),
  97px 100px 117px rgba(0, 0, 0, 0.1)
}

.yBar{
  height: 95%;
  width: 3px;
  background-color: var(--vblue);
}
.xBar{
  width: 95%;
  height: 3px;
  background-color: var(--vblue);
}


.projects{
  min-height: 100vh;
}

.projectCard{
  display: flex;
  justify-content: start;
  height: fit-content;
  object-fit: cover;
  margin-top: 2rem;
}

#onTrak{
  background-color: #4f7269;
}


.whitespace.blue{
  position: relative;
  bottom: 3vh;
  background-color: var(--vteal);
  max-width: 95%;
  animation-duration: 2s;
  animation-name: slideright;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.whitespace.blue > h2 {
  visibility: hidden;
}
.whitespace.green{
  background-color: var(--vgreen);
  max-width: 95%;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  visibility: hidden;
}
.whitespace.red{
  background-color: var(--vred);
  max-width: 100%;
  visibility: hidden;
}

.visible{
  visibility: visible;
}


.langs{
  z-index: 1;
}
.skills{
  z-index: 1;
  position: relative;
}

.skillBadges{
  display: flex;
  width: 100%;
  max-height: 80vh;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.skillBadges > img{
  object-fit: cover;
  height: 17vw;
  max-width: 100%;
}

.moBadges{
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.moBadges > div > img{
  object-fit: cover;
  height: 15vw;
  max-width: 100%;
}

.seeAlso{
  margin-top: 4rem;
  min-height: 20vh;
  flex-wrap: wrap;
}

.pop1{
  overflow: hidden;
  visibility: hidden;
}
.pop2{
  overflow: hidden;
  visibility: hidden;
}

.contactLinks{
  background-color: var(--vlight);
  box-shadow:
  12.1px 12.5px 14.7px rgba(0, 0, 0, 0.05),
  97px 100px 117px rgba(0, 0, 0, 0.1);
}

a{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}



.slide-right-animation{
  animation: slideleft 1.5s 1 ease-in-out;
}

.green-animation {
  animation: slideleft 2s 1 cubic-bezier(0.165, 0.84, 0.44, 1);
}
.red-animation {
  animation: dropdown .65s 1 cubic-bezier(0.77, 0, 0.175, 1);
}
.pop-up {
  animation: popUp 1s 1 cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

@media (max-width: 576px){
  .nametag{
    position: absolute;
    left: 20px;
    top: 60px;
  }
  #aboutMe {
    animation-name: slideright;
    margin-top: 1rem;
  }
  .moi{
    order: 1;
    height: 70vh;
  }
  .notMoi{
    order: 2;
    margin-bottom: 3rem;
  }
  .profileImg{
    max-height: 40vh;
  }
  .whitespace{
    height: 5vh
  }
  .whitespace.blue{
    height: 10vh;
  }
  .whitespace.green{
    height: 10vh;
  }
  .whitespace.red{
    height: 10vh;
  }
  .projectImg{
    width: 100%;
    top:  1rem;
    left: 1rem;
  } 
  .skillBadges{
    max-width: 90%;
  }
  .yBar{
    height: 95%;
  }
  #projectDivider{
    display: none;
  }
  .contactLinks{
    margin-bottom: .5rem;
    margin-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
}
@media (min-width: 576px){
  .nametag{
    margin-top: 5rem;
    margin-left: 3rem;
  }
  #aboutMe {
    animation-name: slidedown;
    margin-left: 3rem;
  }
  .moi{
    height: 100vh;
  }
  .link{
    margin-left: 3rem;
    margin-top: 0.75rem;
  }
  .profileImg{
    max-height: 70vh;
    top:  1.5rem;
    left: 1.5rem;
  }
  .whitespace{
    height: 10vh
  }
  .whitespace.blue{
    height: 15vh;
  }
  .whitespace.green{
    height: 15vh;
  }
  .whitespace.red{
    height: 15vh;
  }
  .projectImg{
    max-width: 100%;
  }
  .contactLinks{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    min-width: 90%;
  }
}


@keyframes slideleft {
  from {
    transform: translateX(-150%);
    -webkit-transform: translateX(-150%);
  }

  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
}
@keyframes slideright {
  from {
    transform: translateX(150%);
    -webkit-transform: translateX(150%);
  }

  to {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
}
@keyframes slidedown {
  0% {
    transform: translateY(-150%);
    -webkit-transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
}
@keyframes dropdown {
  0% {
    max-height: 0vh;
  }
  100% {
    max-height: 16vh;
  }
}
@keyframes fadeIn{
  0% {opacity: 0;}
  75% {opacity: 0;}
  100%{opacity: 1;}
}

@-moz-keyframes fadein {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100%{ opacity: 1;}
}

@-webkit-keyframes fadein {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100%{opacity: 1;}
}

@keyframes popUp{
  0% {max-height: 0rem;}
  100%{max-height: 3rem;}
}

@-moz-keyframes popUp {
  0% {max-height: 0rem;}
  100%{ max-height: 3rem;}
}

@-webkit-keyframes popUp {
  0% {max-height: 0rem;}
  100%{max-height: 3rem;}
}